In [1]:
# Assign the string "Python" to the variable 'python'.
python = 'Python'

# Assign the string "Finance" to the variable 'finance'.
finance = 'Finance'

# Assign a descriptive string to 'python_fun'.
# This string expresses an opinion about combining finance and python.
python_fun = "It's fun to use finance with python"

# Assign another descriptive string to 'finance_fun'.
# This string also expresses an opinion, using an escaped single quote (\')
# because the string itself is defined with single quotes and contains an apostrophe.
finance_fun = 'It\'s fun to use python with finance'

# Print the values of the 'python' and 'finance' variables.
# They will be printed on the same line, separated by a space by default.
print(python, finance)

# Print the values of the 'python_fun' and 'finance_fun' variables.
# They will also be printed on the same line, separated by a space.
print(python_fun, finance_fun)

# Print a descriptive label "Type of fiance" followed by the data type of the 'finance' variable.
# The 'type()' built-in function returns the type of the object passed to it.
# For a string literal like "Finance", its type is <class 'str'>.
print('Type of fiance', type(finance))

Python Finance
It's fun to use finance with python It's fun to use python with finance
Type of fiance <class 'str'>

In [2]:
# Initialize a string variable 'python' with the value "Python".
python = 'Python'

# Initialize a string variable 'finance' with the value "Finance".
finance = 'Finance'

# Initialize a string variable 'python_fun' with a descriptive phrase.
# Double quotes are used here, allowing a single apostrophe inside without escaping.
python_fun = "It's fun to use finance with python"

# Initialize a string variable 'finance_fun' with another descriptive phrase.
# Single quotes are used, so the apostrophe in "It's" is escaped using a backslash (\').
finance_fun = 'It\'s fun to use python with finance'

# Print the result of concatenating the 'python' and 'finance' strings.
# The '+' operator joins the two strings directly, without any space in between.
print(python + finance)

# Concatenate the string ' & ' to the existing value of 'python'.
# The '+=' operator is an in-place operation, meaning it modifies the 'python' variable itself.
# After this line, 'python' will become "Python & ".
python += ' & '

# Print the new value of 'python' concatenated with the 'finance' string.
# This will show "Python & Finance".
print(python + finance)

# Concatenate 'python_fun', the literal string '...', and 'finance_fun'.
# The result will be a single string combining these three parts.
print(python_fun + '...' + finance_fun)

PythonFinance
Python & Finance
It's fun to use finance with python...It's fun to use python with finance

In [3]:
# Initialize a string variable 'python' with the value "Python".
python = 'Python'

# Initialize a string variable 'finance' with the value "Finance".
finance = 'Finance'

# Concatenate the string ' & ' to the existing value of 'python'.
# The '+=' operator modifies 'python' in-place.
# After this line, 'python' will become "Python & ".
python += ' & '

# Print two pieces of information about the 'finance' string:
# 1. The length of the 'finance' string using the built-in 'len()' function.
#    'Finance' has 7 characters, so len('Finance') is 7.
# 2. The 'finance' string itself.
print(len(finance), finance)

# Print two pieces of information about the 'python' string:
# 1. The length of the 'python' string. Since it was modified to "Python & ",
#    its length is 6 (for "Python") + 3 (for " & ") = 9.
# 2. The 'python' string itself.
print(len(python), python)

# Initialize an empty string literal and assign it to 'empty_string'.
empty_string = ''

# Print two pieces of information about the 'empty_string':
# 1. The length of the 'empty_string'. An empty string has 0 characters.
# 2. The 'empty_string' itself (which will be nothing).
print(len(empty_string), empty_string)

7 Finance
9 Python &
0

In [4]:
# Iterate over each individual character in the 'finance' string.
# In each iteration of the loop, the variable 'character' will be
# assigned the next character from the 'finance' string.
for character in finance:
  # Print the current 'character'.
  # By default, 'print()' adds a newline character at the end,
  # so each character will appear on a separate line in the output.
  print(character)

F
i
n
a
n
c
e

In [5]:
# Iterate over the 'finance' string using 'enumerate()'.
# 'enumerate()' is a built-in function that adds a counter (index) to an iterable.
# For each item in 'finance':
#   - 'index' will be the current position (starting from 0).
#   - 'character' will be the actual character at that position.
for index, character in enumerate(finance):
  # Print both the 'index' and the 'character' for the current iteration.
  # By default, 'print()' separates arguments with a space and ends with a newline,
  # so each index-character pair will appear on a separate line.
  print(index, character)

0 F
1 i
2 n
3 a
4 n
5 c
6 e

In [6]:
# Another example of zero-based indexing - prints characters in locations 0, 3, and 6 that represent F, a, and e.
print(finance[0],finance[3],finance[6])

F a e

In [7]:
# Print a slice of the 'finance' string from index 0 (inclusive) up to, but not including, index 4.
# This will extract the characters at indices 0, 1, 2, and 3.
# 'Finance' -> F(0) i(1) n(2) a(3) n(4) c(5) e(6)
# finance[0:4] will be 'Fina'
print(finance[0:4])

# Print a slice of the 'finance' string where the starting index is omitted.
# When the starting index is omitted, it defaults to 0.
# So, finance[:4] is equivalent to finance[0:4].
# finance[:4] will also be 'Fina'
print(finance[:4])

# Print a slice of the 'finance' string using negative indexing from the end.
# -4 means starting 4 characters from the end.
# When the ending index is omitted, it defaults to the end of the string.
# 'Finance' -> F i n a n c e
# Indices:      0 1 2 3 4 5 6
# Negative:    -7-6-5-4-3-2-1
# finance[-4:] will be 'ance' (characters at -4, -3, -2, -1)
print(finance[-4:])

# Print a slice of the 'finance' string using negative indexing for the end.
# When the starting index is omitted, it defaults to 0.
# -3 means stopping 3 characters from the end (exclusive).
# So, it extracts characters from index 0 up to, but not including, index -3.
# 'Finance' -> F(0) i(1) n(2) a(3) n(4) c(5) e(6)
# Negative:    -7-6-5-4-3-2-1
# finance[:-3] will be 'Fina' (characters up to index 3, not including index 4)
print(finance[:-3])

Fina
Fina
ance
Fina

In [8]:
# Initialize an integer variable 'x' with the value 5.
x = 5

# Initialize a floating-point variable 'y' with the value 10.3.
y = 10.3

# Perform a comparison operation: check if 'y' is greater than 'x'.
# The result of a comparison is always a boolean value (True or False).
# In this case, 10.3 > 5 is True, so 'z' will be assigned the boolean value True.
z = y > x

# Print the data type of each variable (x, y, and z) using the built-in 'type()' function.
# - type(x) will be <class 'int'>
# - type(y) will be <class 'float'>
# - type(z) will be <class 'bool'>
print(type(x), type(y), type(z))

# Convert the integer 'x' to its string representation and assign it to 'a'.
# 'a' will be the string "5".
a = str(x)

# Convert the float 'y' to its string representation and assign it to 'b'.
# 'b' will be the string "10.3".
b = str(y)

# Convert the boolean 'z' (which is True) to its string representation and assign it to 'c'.
# 'c' will be the string "True".
c = str(z)

# Print the value and data type of each of the newly created string variables (a, b, and c).
# - a will be "5", type(a) will be <class 'str'>
# - b will be "10.3", type(b) will be <class 'str'>
# - c will be "True", type(c) will be <class 'str'>
print(a, type(a), b, type(b), c, type(c))

<class 'int'> <class 'float'> <class 'bool'>
5 <class 'str'> 10.3 <class 'str'> True <class 'str'>

In [9]:
# Convert the string '10' to a floating-point number (10.0) and print it.
# The `float()` constructor can convert integers, floats, and string representations
# of numbers to floating-point type.
print(float('10'))

# Convert the string '10' to an integer number (10) and print it.
# The `int()` constructor can convert integers, floats, and string representations
# of integers to integer type.
print(int('10'))

# Initialize an empty string literal and assign it to the variable 'empty'.
empty = ''

# Print two pieces of information about the 'empty' string:
# 1. Its length using `len()`. An empty string has a length of 0.
# 2. Its boolean value using `bool()`. An empty string is considered "falsy" (evaluates to False).
print(len(empty), bool(empty))

# Initialize a string containing a single space character and assign it to 'space'.
space = ' '

# Print two pieces of information about the 'space' string:
# 1. Its length using `len()`. A string with one space has a length of 1.
# 2. Its boolean value using `bool()`. A non-empty string (even one with just whitespace)
#    is considered "truthy" (evaluates to True).
print(len(space), bool(space))

10.0
10
0 False
1 True

In [10]:
# --- Section 1: Using the `str.find()` method ---

# The `str.find(substring)` method returns the lowest index (position)
# in the string where the 'substring' is found.
# If the 'substring' is not found, it returns -1.

# finance.find('F'): 'F' is the first character in 'Finance', so its index is 0.
# finance.find('I'): 'I' (uppercase) is not present in 'Finance' (which has 'i' lowercase), so it returns -1.
print(finance.find('F'), '   ', finance.find('I'))


# --- Section 2: Using the `str.replace()` method ---

# The `str.replace(old, new, count)` method returns a *new* string
# where occurrences of 'old' are replaced by 'new'.
# The original string ('finance') remains unchanged.
# The optional 'count' argument specifies the maximum number of replacements to make.

# finance.replace('n','N'): Replaces ALL occurrences of 'n' with 'N'.
#   'Finance' (n at index 2, n at index 4) becomes 'FiNaNce'.
# finance.replace('n','N',1): Replaces only the FIRST occurrence of 'n' with 'N'.
#   'Finance' (n at index 2) becomes 'FiNance'.
# finance.replace('n',' '): Replaces ALL occurrences of 'n' with a space character.
#   'Finance' becomes 'Fi ance'.
print(finance.replace('n','N'),'   ',finance.replace('n','N',1),'   ',finance.replace('n',' '))


# --- Section 3: Using the `str.split()` method ---

# The `str.split(separator, maxsplit)` method splits a string into a list of substrings.
# If 'separator' is not provided (or is None), it splits by any whitespace
# and automatically handles multiple spaces by treating them as one.

# python_fun.split(): Splits the string by any whitespace.
#   "It's fun to use finance with python" becomes
#   ['It\'s', 'fun', 'to', 'use', 'finance', 'with', 'python']
# python_fun.split('i',1): Splits the string by the first occurrence of the character 'i'.
#   The '1' limits the number of splits to one, resulting in two parts.
#   "It's fun to use finance with python" splits at the 'i' in "It's"
#   or at the first 'i' encountered (in 'finance'). Let's trace it:
#   Original: "It's fun to use finance with python"
#             ^ first 'i' is at index 4
#   Result: ["It's fun to use f", "nance with python"]
print(python_fun.split(),'   ',python_fun.split('i',1))


# --- Section 4: Using the `str.join()` method ---

# The `str.join(iterable)` method is a string method used to concatenate
# elements of an iterable (like a list of strings).
# The string on which `.join()` is called acts as the separator between the elements.

# '  '.join(python_fun.split()):
#   First, python_fun.split() creates the list: ['It\'s', 'fun', 'to', 'use', 'finance', 'with', 'python'].
#   Then, these elements are joined together with '  ' (two spaces) as the separator.
#   Result: "It's  fun  to  use  finance  with  python"
# '$'.join(python_fun.split()):
#   Uses the same list, but joins the elements with '$' as the separator.
#   Result: "It's$fun$to$use$finance$with$python"
print('  '.join(python_fun.split()),'   ','$'.join(python_fun.split()))

0     -1
FiNaNce     FiNance     Fi a ce
["It's", 'fun', 'to', 'use', 'finance', 'with', 'python']     ["It's fun to use f", 'nance with python']
It's  fun  to  use  finance  with  python     It's$fun$to$use$finance$with$python