# A Quick Introduction To Manipulating Dates
#### Many financial calculations, such as aligning present value factors with payment dates or annualizing returns and volatility, rely on numerical date analysis. This notebook explores key Python modules for date handling:

*   *datetime: Provides diverse methods for numerical date representation.*
*   *dateutil.relativedelta: Enables flexible manipulation of datetime objects.
*   calendar: Useful for identifying specific days, such as the last day of the month.

## Datetime Modules
#### Python offers numerous libraries and modules, and one frequently used in finance is datetime. The module is part of the standard Python library. The modules defines objects with specific attributes and methods allowing for the manipulation of dates.

## Create A datetime Object
#### The <font color='green'>datetime()</font> method is part of the datetime module. Its parameters include year, month, day, hour, minute, second, and microsecond. Arguments are required for year, month, and day. The other parameters default to zero.

#### One way to use the <font color='green'>datetime</font> method is to import the <font color='green'>datetime</font> module and then access the method as an extension of the module.


```
import datetime
example=datetime.datetime(2025,6,15)
```

#### It's more convenient to import the <font color='green'>datetime</font> method directly from the <font color='green'>datetime</font> module and then refer to it without the module prefix.  The notebooks of Financial Python import the <font color='green'>datetime</font> method from the <font color='green'>datetime</font> module.


```
from datetime import datetime
example_datetime=datetime(2025,6,15,14,30,10,2000010)
```

In [ ]:
import datetime

In [ ]:
example=datetime.datetime(2025,6,15,14,30,10,200010)

In [ ]:
example

datetime.datetime(2025, 6, 15, 14, 30, 10, 200010)

In [ ]:
from datetime import datetime # Import the 'datetime' class from the 'datetime' module.
                             # This class is essential for working with dates and times.

In [ ]:
example_datetime=datetime(2025,6,15,14,30,10,200010)
example_datetime

datetime.datetime(2025, 6, 15, 14, 30, 10, 200010)

## Datetime Object From A String
#### The <font color='green'>strptime()</font> method of a datetime object converts a string into a datetime object. This method requires two string arguments: the date's string representation and the format of the representation as arguments.

#### The format string specifies how the date and time components are structured. Year, month, and day arguments (denoted as `y`, `m`, and `d` respectively) must be preceded by a percent sign. A capital `Y` signifies a four-digit year. For time, hours, minutes, and seconds are represented by the capital letters `H`, `M`, and `S` respectively. Microseconds are an attribute of seconds as 'S.%f'. Additionally, the characters used to separate the arguments within the string must be explicitly defined in the format.

#### In this example the year is four digits and separated from the month and day by a dash. Hours, minutes, and seconds are separated by a backslash. The separators must be included in the format string.


```
string_date='2025-06-15 14/30/10.200010'
format_string_date='%Y-%m-%d %H/%M/%S.%f'
```

In [ ]:
# Define a string variable that holds a date and time in a specific, custom format.
# Note the combination of hyphens, spaces, slashes, and a period as separators.
string_date = '2025-06-15 14/30/10.200010'

# Define a format string that precisely matches the structure of 'string_date'.
# Each '%' code represents a specific component of the date/time:
# %Y: Full year with century (e.g., 2025)
# %m: Month as a zero-padded decimal number (e.g., 06)
# %d: Day of the month as a zero-padded decimal number (e.g., 15)
# %H: Hour (24-hour clock) as a zero-padded decimal number (e.g., 14)
# %M: Minute as a zero-padded decimal number (e.g., 30)
# %S: Second as a zero-padded decimal number (e.g., 10)
# %f: Microsecond as a decimal number, zero-padded on the left (e.g., 200010)
# IMPORTANT: The literal characters (hyphens, spaces, slashes, periods) in the format string
# must exactly match those in the 'string_date' for successful parsing.
format_string_date = '%Y-%m-%d %H/%M/%S.%f'

# Use the 'strptime()' class method of 'datetime' to parse the 'string_date'.
# 'strptime()' (string parse time) takes the date string and its corresponding format string
# as arguments, and attempts to convert the string into a 'datetime' object.
# If the 'string_date' does not exactly match the 'format_string_date', a ValueError will be raised.
time_stamp = datetime.strptime(string_date, format_string_date)

# Display the resulting 'datetime' object.
# When a datetime object is printed or evaluated, Python presents it in a standard
# format (YYYY-MM-DD HH:MM:SS.microseconds), regardless of the input format.
print(time_stamp)

2025-06-15 14:30:10.200010

## String From A datetime Object
#### A datetime object can be converted to a string using either the built-in Python function <font color='green'>str()</font> or the <font color='green'>strptime()</font> method of the datetime object.

#### The <font color='green'>str()</font> function outputs a string where dashes separate years, months, and days, and colons separate hours, minutes, and seconds.



```
builtin_function=str(time_stamp)
```



#### In contrast, the <font color='green'>strptime()</font> method requires a format string.  Here the previously defined format string of <font color='green'>time_stamp</font> is used.


```
datetime_method=time_stamp.strftime(format_string_date)
```

In [ ]:
# Assuming 'time_stamp' is a datetime object (e.g., from datetime.strptime)
# and 'format_string_date' is the format string used for parsing or desired for formatting.

# Convert the 'time_stamp' datetime object into a string using the built-in 'str()' function.
# The 'str()' function provides a default, human-readable, and generally unambiguous
# string representation of the datetime object.
# It does not allow custom formatting.
builtin_function = str(time_stamp)

# Convert the 'time_stamp' datetime object into a string using the 'strftime()' method.
# 'strftime()' (string format time) allows you to format the datetime object
# into a string according to a specified format code string ('format_string_date').
# This gives precise control over how the date and time components appear in the output string.
datetime_method = time_stamp.strftime(format_string_date)

# Display both resulting strings.
# You will likely observe that 'builtin_function' uses a default format (e.g., YYYY-MM-DD HH:MM:SS.ffffff)
# while 'datetime_method' uses the specific format you defined in 'format_string_date'.
print(f"Using str(): {builtin_function}")
print(f"Using strftime(): {datetime_method}")

# For context, if time_stamp was '2025-06-15 14:30:10.200010'
# and format_string_date was '%Y-%m-%d %H/%M/%S.%f':
# builtin_function would likely be '2025-06-15 14:30:10.200010'
# datetime_method would be '2025-06-15 14/30/10.200010' (matches original input string format)

Using str(): 2025-06-15 14:30:10.200010
Using strftime(): 2025-06-15 14/30/10.200010

## Some Datetime Attributes
#### Useful attributes of a datetime object are the:


*  year
*  month
*  day
*  hour
*  second
*  microsecond

#### The attribute are accessed with the dot notation.  These attributed are demonstrated for <font color='green'>time_stamp</font> by iterating through the results of zipping the lists <font color='green'>attribute_list</font> and <font color='green'>attribute_names</font>.

In [ ]:
# Assuming 'time_stamp' is an existing datetime object, for example,
# created as: time_stamp = datetime(2025, 6, 15, 14, 30, 10, 200010)

# Create a list containing individual time components by accessing
# specific attributes (year, month, day, hour, minute, second, microsecond)
# directly from the 'time_stamp' datetime object.
attribute_list = [time_stamp.year, time_stamp.month, time_stamp.day,
                  time_stamp.hour, time_stamp.minute, time_stamp.second,
                  time_stamp.microsecond]

# Create a corresponding list of descriptive names for each attribute.
attribute_name = ['Year', 'Month', 'Day',
                  'Hour', 'Minute', 'Second',
                  'Micro Second']

# Iterate simultaneously over both 'attribute_list' and 'attribute_name'
# using the 'zip()' function.
# In each iteration, 'attribute' will get a value from 'attribute_list'
# and 'name' will get the corresponding string from 'attribute_name'.
for attribute, name in zip(attribute_list, attribute_name):
  # Print the name of the attribute followed by its extracted value.
  # A colon and a space are used as separators for clear output.
  print(name + ': ', attribute)

Year:  2025
Month:  6
Day:  15
Hour:  14
Minute:  30
Second:  10
Micro Second:  200010

## date() Object
#### The <font color='green'>date()</font> is returned with the datetime method <font color='green'>date()</font> or is created with the date module of the datetime library. A date object includes the year, month, and day of datetime objects.  If the date module is imported, the module can be created by passing year, month, and day as arguments.

In [ ]:
time_stamp.date()

datetime.date(2025, 6, 15)

### Import date From datetime

In [ ]:
from datetime import date
#date(time_stamp.year,time_stamp.month,time_stamp.day)

## Subtracting And Adding datetime Objects

### Subtracting
#### One datetime or date object can be subtracted from another.  The result is the datetime method <font color='green'>timedelta()</font> with specified values of days, seconds, and microseconds.  The variable <font color='green'>date_difference</font> is assigned time_stamp less  April 15$^{th}$ 2025.


```
date_differences=time_stamp-datetime(2025,4,15)
```


#### The attributes of <font color='green'>date_difference</font> are days, seconds, and microseconds.  The seconds are converted to hours and minutes and are displayed along with days.

In [ ]:
# Assuming 'time_stamp' is already a datetime object as:
# time_stamp = datetime(2025, 6, 15, 14, 30, 10, 200010)

# Calculate the difference between 'time_stamp' and another specific datetime.
# When no time components are provided to the datetime constructor, they default to midnight (00:00:00.000000).
# So, datetime(2025, 4, 15) represents April 15, 2025, at 12:00:00 AM.
date_differences = time_stamp - datetime(2025, 4, 15)

# Display the result of the subtraction.
# Subtracting two datetime objects yields a 'timedelta' object,
# which represents a duration of time.
print(date_differences)

# --- Calculation Breakdown for the example output ---
# From April 15, 2025 (00:00:00) to June 15, 2025 (14:30:10.200010):
# Remaining days in April: 30 (total days in April) - 15 (start day) = 15 days
# Days in May: 31 days
# Days in June: 15 days (up to the 15th)
# Total days: 15 + 31 + 15 = 61 days
# The time component (14:30:10.200010) is the time difference from midnight.

61 days, 14:30:10.200010

In [ ]:
# Extract the number of whole days from the 'timedelta' object.
# The '.days' attribute directly provides the total number of full days in the duration.
difference_in_days = date_differences.days

# Calculate the fractional part of the hours from the 'timedelta' object's seconds.
# The '.seconds' attribute of a timedelta object returns the number of seconds
# *within the part of the duration that is less than a day*.
# It does NOT include seconds from the full days.
# To convert these remaining seconds into hours, divide by (60 seconds * 60 minutes).
difference_in_hours = date_differences.seconds / (60 * 60)

# Calculate the fractional part of the minutes from the 'timedelta' object's seconds.
# Similar to hours, '.seconds' only provides seconds less than a day.
# To convert these remaining seconds into minutes, divide by 60 seconds.
difference_in_minutes = date_differences.seconds / 60

# Print all three calculated differences.
# You will see the total days, and the fractional hours/minutes of the remaining time.
print(difference_in_days, difference_in_hours, difference_in_minutes)

61 14.502777777777778 870.1666666666666

### timedelta() Method
#### The <font color='green'>timedelta()</font> method allows for the addition or subtraction of time from a datetime object. This method's parameters are weeks, days, hours, minutes, seconds, microseconds, and milliseconds.  The default values of the arguments are all zero.  The following examples demonstrate the use of this method after it has been imported, rather than using the datetime prefix.

In [ ]:
from datetime import timedelta

In [ ]:
print(time_stamp)

2025-06-15 14:30:10.200010

In [ ]:
# Subtract timedelta() amount
time_stamp-timedelta(days=61,seconds=52210, microseconds=200010)

datetime.datetime(2025, 4, 15, 0, 0)

In [ ]:
# Add timedelta() amount
datetime(2025,4,15)+timedelta(days=61, seconds=52210, microseconds=200010)

datetime.datetime(2025, 6, 15, 14, 30, 10, 200010)

## relativedelta From datetutil Library More Convenient Than timedelta() Method
#### The <font color='green'>dateutil</font> module builds upon the datetime module, offering an enhanced <font color='green'>relativedelta()</font> method. This method expands on <font color='green'>timedelta</font> by providing additional parameters; most notably for our use is year and month.

In [ ]:
from dateutil.relativedelta import relativedelta

In [ ]:
print(time_stamp)

2025-06-15 14:30:10.200010

In [ ]:
# Subtract two months using relativedelta()
time_stamp-relativedelta(months=2)

datetime.datetime(2025, 4, 15, 14, 30, 10, 200010)

In [ ]:
# Add two years using relativedelta()
time_stamp+relativedelta(years=2)

datetime.datetime(2027, 6, 15, 14, 30, 10, 200010)

In [ ]:
# Subtract 61 days using relativedelta()
time_stamp-relativedelta(days=61)

datetime.datetime(2025, 4, 15, 14, 30, 10, 200010)

## calendar Module monthrange() Method
#### The <font color='green'>monthrange()</font> method, found in the <font color='green'>calendar</font> module, takes the year and month as parameters. It returns two values: the weekday of the first day of the month and the last calendar day of the month. The <font color='green'>calendar</font> module is imported and the function is demonstrated with the datetime object <font color='green'>time_stamp</font>.

In [ ]:
import calendar
calendar.monthrange(time_stamp.year,time_stamp.month)

(calendar.SUNDAY, 30)

In [ ]:
import calendar
from calendar import monthrange
monthrange(time_stamp.year,time_stamp.month)

(calendar.SUNDAY, 30)